body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

header {
  color: #eb5b00;
  background-color: #09122c;
  padding-top: 12px;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

header .container {
  display: flex;
  align-items: center;
}

.logo img {
  height: 2em;
}

.header-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

li a {
  font-size: 1.2em;
}

a.page-link {
  text-decoration: none;
  color: #eb5b00;
}

nav {
  margin-left: auto;
}

.logo {
  font-size: 48px;
}

/* Hero section */

.hero {
  background-color: #09122c;
  padding: 3em 0;
}

.hero .container {
  display: flex;
  color: #eb5b00;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10em;
}

.hero-text {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.hero-text h1 {
  font-family: "Creepster", system-ui;
}

.hero-text p {
  font-size: 1em;
}

.hero-image {
  flex: 1;
  background-color: #09122c;
  height: 16em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/hero-image.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-text h1 {
  margin-bottom: 0;
}

.hero-button {
  margin-top: auto;
  padding: 1.25em 4em;
  border-radius: 1.1em;
  width: fit-content;
  background-color: #09122c;
  border-color: #eb5b00;
  color: #eb5b00;
  font-family: "Merriweather", serif;
  font-size: 1em;
  font-weight: bold;
}

/* Information Section */

.information {
  background-color: #ffcc00;
}

.information .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
}

.information h1 {
  font-family: "Creepster", system-ui;
}

.informations {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  font-weight: 1em;
}

.items {
  flex: 1 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 125px;
  text-align: center;
}

.lil-box {
  width: 120px;
  height: 120px;
  margin-bottom: 8px;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lil-box.box-one {
  background-image: url("./images/costume.png");
}

.lil-box.box-two {
  background-image: url("./images/decoration.png");
}

.lil-box.box-three {
  background-image: url("./images/utility.png");
}

.lil-box.box-four {
  background-image: url("./images/treats.png");
}

/* Quote section */

.quote {
  background-color: #eb5b00;
  font-family: "Creepster", system-ui;
}

.quote .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-box {
  display: flex;
  flex-direction: column;
  margin: 32px;
  padding: 32px;
}

.quote-text {
  font-size: 2em;
  font-style: italic;
}

.quote-author {
  text-align: end;
  font-size: 1.5em;
}

/* Call to Action */
.cta {
  background-color: white;
}

.cta .container {
  padding: 80px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: fit-content;
}

.cta-box {
  flex: 1;
  background-color: #ffcc00;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 4em;
  gap: 2em;
  border-radius: 1em;
}

.cta-box p {
  font-size: 1em;
}

.cta-button {
  margin-top: auto;
  padding: 1.25em 4em;
  border-radius: 1.25em;
  width: fit-content;
  border: none;
  border: 2px solid #09122c;
  background-color: #ffcc00;
  color: #09122c;
  font-size: 1em;
  font-family: "Merriweather", serif;
  font-weight: bold;
}

/* Footer */

footer {
  background-color: #09122c;
  color: #eb5b00;
  text-align: center;
  padding: 1em;
}

/* Extra Responsivensess */

@media (max-width: 768px) {
  header .container {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  nav {
    margin-left: 0;
  }

  .hero .container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 0;
  }

  .hero-text {
    align-items: center;
  }

  .hero-image {
    flex: none;
    background-color: #09122c;
    height: 240px;
    width: 100%;
  }

  .cta-box {
    flex-direction: column;
  }
}

/* More responsiveness for zooming out*/

.hero,
.information,
.quote,
.cta {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

/* Resizing patch */
/* This somehow works i dont even know why */
/* I read it, basically it forces the element to be exactly 100% of its parent's width */
/* Neat */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* This is such a mess and I havent sleep for more than 24 hours (I think) */
